<form class="team-create" [formGroup]="teamForm" (ngSubmit)="saveTeam()">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput autocomplete="off" formControlName="name" id="name"  placeholder="Name">
    <mat-error class="error" [hidden]="teamForm.get('name').valid && teamForm.get('name').untouched || !teamForm.get('name').errors?.required">
      Name is required
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="teamForm.invalid">Add team</button>
</form>