<button [routerLink]="['/user/user-create']" mat-button>Add user</button>

<mat-table [dataSource]="users" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="birthday">
    <mat-header-cell *matHeaderCellDef> Birthday </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.birthday | date:'d MMMM y'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="teamId">
    <mat-header-cell *matHeaderCellDef> Team Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.teamId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="editUser">
    <mat-header-cell class="center" *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell class="center" *matCellDef="let element">
      <button [routerLink]="['/user/user-create', element.id]" class="editUser" mat-mini-fab color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="removeUser(element.id)" class="editUser" mat-mini-fab color="primary">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>