    <form class="tasks-create" [formGroup]="tasksForm" (ngSubmit)="saveTasks()">

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput autocomplete="off" formControlName="name" id="name" placeholder="Name">
        <mat-error class="error" [hidden]="tasksForm.get('name').valid && tasksForm.get('name').untouched || !tasksForm.get('name').errors?.required">
          Name is required
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput autocomplete="off" formControlName="description" id="description" placeholder="Description">
        <mat-error class="error" [hidden]="tasksForm.get('description').valid && tasksForm.get('description').untouched || !tasksForm.get('description').errors?.required">
          Description is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select formControlName="state" id="state" placeholder="State">
          <mat-option value="Created">Created</mat-option>
          <mat-option value="Started">Started</mat-option>
          <mat-option value="Finished">Finished</mat-option>
          <mat-option value="Canceled">Canceled</mat-option>
        </mat-select>
        <mat-error class="error" [hidden]="tasksForm.get('state').valid && tasksForm.get('state').untouched || !tasksForm.get('state').errors?.required">
          State is required
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Project Id</mat-label>
        <input matInput autocomplete="off" formControlName="projectId" id="projectId" placeholder="Project Id">
        <mat-error class="error" [hidden]="tasksForm.get('projectId').valid && tasksForm.get('projectId').untouched || !tasksForm.get('projectId').errors?.required">
          Project Id is required
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Performer Id</mat-label>
        <input matInput autocomplete="off" formControlName="performerId" id="performerId" placeholder="Performer Id">
        <mat-error class="error" [hidden]="tasksForm.get('performerId').valid && tasksForm.get('performerId').untouched || !tasksForm.get('performerId').errors?.required">
          Performer Id is required
        </mat-error>
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit" [disabled]="tasksForm.invalid">Add task</button>
    
    </form>