<button [routerLink]="['/team/team-create']" mat-button>Add team</button>

<mat-table [dataSource]="teams" class="mat-elevation-z8">
    
     <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdAt | date:'d MMMM y' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="editTeam">
        <mat-header-cell class="center" *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell class="center" *matCellDef="let element">
          <button [routerLink]="['/team/team-create', element.id]" class="editTeam" mat-mini-fab color="primary" >
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="removeTeam(element.id)" class="editTeam" mat-mini-fab color="primary" >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>