<form class="user-create" [formGroup]="userForm" (ngSubmit)="saveUser()">

  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput autocomplete="off" formControlName="firstName" id="firstName"  placeholder="First name:">
    <mat-error class="error" [hidden]="userForm.get('firstName').valid && userForm.get('firstName').untouched || !userForm.get('firstName').errors?.required">
      First Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput autocomplete="off" formControlName="lastName" id="lastName"  placeholder="Last name:">
    <mat-error class="error" [hidden]="userForm.get('lastName').valid && userForm.get('lastName').untouched || !userForm.get('lastName').errors?.required">
      Last Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput autocomplete="off" formControlName="email" id="email"  placeholder="Email">
    <mat-error class="error" [hidden]="userForm.get('email').valid && userForm.get('email').untouched || !userForm.get('email').errors?.required">
      Email is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Birthday</mat-label>
    <input matInput [matDatepicker]="picker" autocomplete="off" formControlName="birthday" id="birthday">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error class="error" [hidden]="userForm.get('birthday').valid && userForm.get('birthday').untouched || !userForm.get('birthday').errors?.required">
      Birthday is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Team Id</mat-label>
    <input matInput autocomplete="off" formControlName="teamId" id="teamId"  placeholder="Team Id">
    <mat-error class="error" [hidden]="userForm.get('teamId').valid && userForm.get('teamId').untouched || !userForm.get('teamId').errors?.required">
      Team Id is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Add user</button>

</form>