<button [routerLink]="['/project/project-create']" mat-button>Add project</button>

<mat-table [dataSource]="projects" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt | date:'d MMMM y' }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="authorId">
        <mat-header-cell *matHeaderCellDef> Author Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.authorId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="teamId">
        <mat-header-cell *matHeaderCellDef> Team Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.teamId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="editProject">
      <mat-header-cell class="center" *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell class="center" *matCellDef="let element">
        <button [routerLink]="['/project/project-create', element.id]" class="editProject" mat-mini-fab color="primary" >
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="removeProject(element.id)" class="editProject" mat-mini-fab color="primary" >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>