<button [routerLink]="['/tasks/tasks-create']" mat-button>Add task</button>

<mat-table [dataSource]="tasks" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt | date:'d MMMM y' }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="finishedAt">
        <mat-header-cell *matHeaderCellDef> Finished At </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.finishedAt | date:'d MMMM y' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="projectId">
        <mat-header-cell *matHeaderCellDef> Project Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.projectId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="performerId">
        <mat-header-cell *matHeaderCellDef> Performer Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.performerId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="editTasks">
      <mat-header-cell class="center" *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell class="center" *matCellDef="let element">
        <button [routerLink]="['/tasks/tasks-create', element.id]" class="editTasks" mat-mini-fab color="primary" >
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="removeTasks(element.id)" class="editTasks" mat-mini-fab color="primary" >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>