<mat-toolbar color="primary">

    <span>My app</span>

    <span class="example-spacer"></span>

    <div>
        <a [routerLink]="['/user/user-table']" mat-button>Users</a>
        <a [routerLink]="['/project/project-table']" mat-button>Projects</a>
        <a [routerLink]="['/tasks/tasks-table']" mat-button>Tasks</a>
        <a [routerLink]="['/team/team-table']" mat-button>Team</a>
    </div>

</mat-toolbar>