<form class="project-create" [formGroup]="projectForm" (ngSubmit)="saveProject()">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput autocomplete="off" formControlName="name" id="name"  placeholder="Name:">
    <mat-error class="error" [hidden]="projectForm.get('name').valid && projectForm.get('name').untouched || !projectForm.get('name').errors?.required">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput autocomplete="off" formControlName="description" id="description"  placeholder="Description">
    <mat-error class="error" [hidden]="projectForm.get('description').valid && projectForm.get('description').untouched || !projectForm.get('description').errors?.required">
      Description is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>DeadLine</mat-label>
    <input matInput [matDatepicker]="picker" autocomplete="off" formControlName="deadLine" id="deadLine">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error class="error" [hidden]="projectForm.get('deadLine').valid && projectForm.get('deadLine').untouched || !projectForm.get('deadLine').errors?.required">
      DeadLine is required
    </mat-error>
  </mat-form-field>

 <mat-form-field>
    <mat-label>Author Id</mat-label>
    <input matInput autocomplete="off" formControlName="authorId" id="authorId"  placeholder="Author Id">
    <mat-error class="error" [hidden]="projectForm.get('authorId').valid && projectForm.get('authorId').untouched || !projectForm.get('authorId').errors?.required">
      Author Id is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Team Id</mat-label>
    <input matInput autocomplete="off" formControlName="teamId" id="teamId"  placeholder="Team Id">
    <mat-error class="error" [hidden]="projectForm.get('teamId').valid && projectForm.get('teamId').untouched || !projectForm.get('teamId').errors?.required">
      Team Id is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">Add project</button>

</form>